<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task 2.1P</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	
	<header>
		<h1>Cloud Application</h1>
	</header>
	
	<main>
		<section id="contact">
			<form>
				<label for="name">Name:</label>
				<input type="text" id="name" name="name"><br><br>
				
				<label for="email">Email:</label>
				<input type="email" id="email" name="email"><br><br>
				
				<label for="comment">Message:</label><br>
				<textarea id="comment" name="comment"></textarea><br><br>
				
				<input type="submit" value="Submit">
			</form>
		</section>
	</main>
	
</body>
</html>
